body, html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  -webkit-user-select: none;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  cursor: default;  
}

.display-image {    
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: center center no-repeat;
  background-size: contain;
}

.display-video {    
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.display-video video {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;        
}


.loading-image {    
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: center center no-repeat;    
  background-image: url("../images/loading.gif");
  background-size: auto;    	    
}


.splash-image {    
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  background: no-repeat;  
  background-size: cover;
  margin-top: -30px;    	    
}

.splash-image p {
  padding: 60px;	
	text-align: center;	
	font-size: 30px;
  
  color: #FFF;
  text-shadow: 0 0 8px #000;
  -moz-text-shadow: 0 0 8px #000;
  -webkit-text-shadow: 0 0 8px #000;    
    
}

.hidden {
  display: none;
}
