body, html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  background-color: #000 !important;; 
  overflow: hidden;
  -webkit-user-select: none;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  cursor: default;  
}

.display-image {    
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: center center no-repeat;
  background-size: contain;
  image-orientation: from-image;
  background-color: transparent;
  z-index: 1;
  position:relative;
}

.display-video video {
  width: 100vw; 
  height: 56.25vw;  
  max-height: 100vh;
  max-width: 177.78vh;
  margin: auto;
  position: absolute;
  top:0;bottom:0;
  left:0;right:0;
}

.loading-image {    
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: center center no-repeat;    
  background-image: url("../images/loading.gif");
  background-size: auto;      
}

.full-display {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  position:relative;
}

.blurred-image {    
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  background: no-repeat;  
  background-size: cover;   
  filter: blur(25px);
  opacity: 0.8;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index: 0;
}

.splash-image {    
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  background: no-repeat;  
  background-size: cover;
  text-align: center;
}

.splash-image .button {  
  background-color: #666699;
  color: #fff;
  box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
  font-size: 2rem;
  cursor: pointer;
  outline: 0;
  border: none;
  vertical-align: baseline;  
  padding: .78571429em .5em;          
  border-radius: .28571429rem;
  width: 255px;
  margin-top: 325px;
  display: inline-block;  
} 

.splash-image .button:hover {
  background-color: #5c5c8a;
}

.splash-image .button:active {
  background-color: #52527a;
}

.display-controls {
  padding-top: 10px;  
  width: 100%;
  height: 90px;
  background-color: #000;
  opacity: .70;
  position: absolute;
  top: 0;
  display: none;
  z-index: 100;
}

.display-controls .button {
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
  font-size: 1.7rem;
  cursor: pointer;
  outline: 0;
  border: none;
  display: inline-block;
  padding: .78571429em 1.5em;          
  border-radius: .28571429rem;  
} 

.display-controls .button:hover {
  background-color: #5c5c8a;
}

.display-controls .button:active {
  background-color: #52527a;
}

.controls-middle {
  width: 40%;
  height: inherit;
  float: left;
  text-align: center;
}

.controls-left, .controls-right {    
  width: 30%;
  height: inherit;
  float: left;
  text-align: center; 
}
.option-row { 
  margin-bottom: 25px;
}

.option-toggle {
  display: inline-block;
  width:30%;
}

.option-text {  
  display: inline;
  font-size: 18px;
  vertical-align: top;
  margin-left: 15px;
  text-align: center;
}

.option-button {  
  background-color: #666699;
  color: #fff;
  box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
  font-size: 1rem;
  cursor: pointer;
  outline: 0;
  border: none;
  vertical-align: baseline;  
  padding: .78571429em 2.1em;          
  border-radius: .28571429rem;
  width: 65px;  
  display: inline-block;
  float: right;
}

.option-button:hover {
  background-color: #5c5c8a;
}

.option-button:active {
  background-color: #52527a;
}

.option-toggle .form-control  {
  width: 78px;
  height: 28px;
  float: right;
}

.modal-header {
  display: inline !important;
}

.hidden {
  display: none;
}
